body {
  background-image: linear-gradient(
    120deg,
    rgba(30, 144, 255, 1) 0%,
    rgba(32, 178, 170, 1) 100%
  );
  color: #333;
  font-family: 'Roboto', sans-serif;
  transition: background 0.5s, color 0.5s;
}

.app {
  margin: 5% 10%;
}

.app-header h1 {
  text-align: center;
  color: #fff;
}

.app-header form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-header form div {
  margin: 10px;
  display: inline-block;
  align-self: center;
}

.app-header form input {
  margin: 0 10px;
  padding: 10px;
  border: none;
  border-radius: 25px;
  width: 250px;
  background: #fff;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: border 0.3s, box-shadow 0.3s;
}

.app-header form input:focus {
  outline: none;
  border: 2px solid #1e90ff;
  box-shadow: 0 4px 8px rgba(30, 144, 255, 0.3);
}

.app-header form button {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 25px;
  width: 250px;
  cursor: pointer;
  background: linear-gradient(135deg, rgba(255, 99, 71, 1) 0%, rgba(255, 140, 0, 1) 100%);
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, box-shadow 0.3s;
}

.app-header form button:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
